In [1]:
import pandas as pd

In [2]:
colunas = ['CO_CATEGAD','CO_GRUPO','CO_REGIAO_CURSO','CO_UF_CURSO','TP_SEXO','TP_PRES','NT_GER','NT_FG','NT_OBJ_FG','NT_DIS_FG','NT_CE','NT_OBJ_CE','NT_DIS_CE','QE_I02','QE_I04','QE_I05','QE_I08','QE_I13','QE_I15','QE_I17','NU_IDADE','CO_CURSO','CO_MODALIDADE','ANO_FIM_EM','ANO_IN_GRAD','CO_TURNO_GRADUACAO','CO_IES','CO_ORGACAD','QE_I10','CO_RS_I9','QE_I22','QE_I23'] #selecionando apenas as colunas necessarias

microdados = pd.read_csv('microdados_Enade_2017_portal_2018.10.09/3.DADOS/MICRODADOS_ENADE_2017 (c√≥pia).csv',sep=';',usecols=colunas,decimal=',') #carregando arquivo, apenas com as colunas desejadas, usando como separador ';'

In [3]:
microdados

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,...,QE_I02,QE_I04,QE_I05,QE_I08,QE_I10,QE_I13,QE_I15,QE_I17,QE_I22,QE_I23
0,1,1,10028,5710,3,1,51,5,26,F,...,A,D,F,B,B,A,A,B,B,D
1,1,1,10028,5710,3,1,51,5,23,F,...,D,E,D,B,E,A,B,A,B,C
2,1,1,10028,5710,3,1,51,5,23,M,...,D,E,F,F,A,D,A,B,A,B
3,1,1,10028,5710,3,1,51,5,23,M,...,A,D,D,B,A,A,E,A,B,C
4,1,1,10028,5710,3,1,51,5,24,M,...,A,D,F,F,C,A,A,B,C,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537431,19578,2,10022,6208,5001279,1,35,3,26,M,...,D,B,C,C,E,A,D,A,B,B
537432,19578,2,10022,6208,5001279,1,35,3,41,M,...,A,B,D,B,A,A,A,A,B,D
537433,19578,2,10022,6208,5001279,1,35,3,22,M,...,D,B,D,B,E,A,A,A,B,B
537434,19578,2,10022,6208,5001279,1,35,3,35,F,...,D,E,D,C,E,A,E,A,B,C
537435,19578,2,10022,6208,5001279,1,35,3,32,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
microdados2 = microdados.query('CO_GRUPO == 72 | CO_GRUPO == 79 | CO_GRUPO == 4003 | CO_GRUPO == 4004 | CO_GRUPO == 4005 | CO_GRUPO == 4006 | CO_GRUPO == 6409') #filtrando alunos de cursos da area de TI

In [5]:
microdados2 = microdados2.loc[microdados2.TP_PRES.notnull()]
microdados2 = microdados2.astype({'TP_PRES':int}) #convertendo tipo dos dados

In [6]:
microdados2 = microdados2.query('TP_PRES == 555') #selecionando apenas alunos presentes no ENADE com nota valida

In [7]:
microdados2 = microdados2.loc[microdados2.QE_I15.notnull()] #removendo alunos que deixaram questionario em branco
microdados2 = microdados2.loc[microdados2.NT_GER.notnull()] #removendo alunos com notas em branco

In [8]:
#Transforma√ßao
microdados2['CO_CATEGAD'].replace({1:'IES p√∫blica',2:'IES p√∫blica',3:'IES p√∫blica'},inplace=True) #publica 
microdados2['CO_CATEGAD'].replace({4:'IES privada',5:'IES privada',7:'IES privada'},inplace=True) #privada
microdados2 = microdados2.astype({'CO_CATEGAD':str})

In [9]:
#agrupando faixas de renda
microdados2['QE_I08'].replace({'B':'A'},inplace=True) #ate 3 salarios
microdados2['QE_I08'].replace({'C':'B','D':'B','E':'B'},inplace=True) #3 a 10 salarios 
microdados2['QE_I08'].replace({'F':'C'},inplace=True) #10 a 30 salarios 
microdados2['QE_I08'].replace({'G':'D'},inplace=True) #mais de 30 salarios

In [10]:
#separando por tipo de ensino medio
microdados2['QE_I17'].replace({'D':'A'},inplace=True) #todo tempo ou maior parte pub
microdados2['QE_I17'].replace({'E':'B'},inplace=True) #todo tempo ou maior parte privada
microdados2['QE_I17'].replace({'F':'C'},inplace=True) #todo tempo ou maior parte exterior

In [11]:
estado_dict = {
11 : 'RO',12 : 'AC', 
13 : 'AM',14 : 'RR',
15 : 'PA',16 : 'AP',
17 : 'TO',21 : 'MA',
22 : 'PI',23 : 'CE',
24 : 'RN',25 : 'PB',
26 : 'PE',27 : 'AL',
28 : 'SE',29 : 'BA',
31 : 'MG',32 : 'ES',
33 : 'RJ',35 : 'SP',
41 : 'PR',42 : 'SC',
43 : 'RS',50 : 'MS',
51 : 'MT',52 : 'GO', 
53 : 'DF'
}

microdados2['CO_UF_CURSO'].replace(estado_dict,inplace=True)
microdados2 = microdados2.astype({'CO_UF_CURSO':str})

In [12]:
microdados2.dtypes

CO_IES                  int64
CO_CATEGAD             object
CO_ORGACAD              int64
CO_GRUPO                int64
CO_CURSO                int64
CO_MODALIDADE           int64
CO_UF_CURSO            object
CO_REGIAO_CURSO         int64
NU_IDADE                int64
TP_SEXO                object
ANO_FIM_EM            float64
ANO_IN_GRAD           float64
CO_TURNO_GRADUACAO    float64
TP_PRES                 int64
NT_GER                float64
NT_FG                 float64
NT_OBJ_FG             float64
NT_DIS_FG             float64
NT_CE                 float64
NT_OBJ_CE             float64
NT_DIS_CE             float64
CO_RS_I9               object
QE_I02                 object
QE_I04                 object
QE_I05                 object
QE_I08                 object
QE_I10                 object
QE_I13                 object
QE_I15                 object
QE_I17                 object
QE_I22                 object
QE_I23                 object
dtype: object

In [13]:
microdados2.isna().any()

CO_IES                False
CO_CATEGAD            False
CO_ORGACAD            False
CO_GRUPO              False
CO_CURSO              False
CO_MODALIDADE         False
CO_UF_CURSO           False
CO_REGIAO_CURSO       False
NU_IDADE              False
TP_SEXO               False
ANO_FIM_EM            False
ANO_IN_GRAD           False
CO_TURNO_GRADUACAO     True
TP_PRES               False
NT_GER                False
NT_FG                 False
NT_OBJ_FG             False
NT_DIS_FG             False
NT_CE                 False
NT_OBJ_CE             False
NT_DIS_CE             False
CO_RS_I9              False
QE_I02                False
QE_I04                False
QE_I05                False
QE_I08                False
QE_I10                False
QE_I13                False
QE_I15                False
QE_I17                False
QE_I22                False
QE_I23                False
dtype: bool

In [14]:
microdados2 = microdados2.loc[microdados2.CO_TURNO_GRADUACAO.notnull()]

In [15]:
microdados2 = microdados2.astype({'TP_SEXO':str})
microdados2 = microdados2.astype({'ANO_FIM_EM':int})
microdados2 = microdados2.astype({'ANO_IN_GRAD':int})
microdados2 = microdados2.astype({'CO_TURNO_GRADUACAO':int})
microdados2 = microdados2.astype({'TP_PRES':int})
microdados2 = microdados2.astype({'QE_I02':str})
microdados2 = microdados2.astype({'QE_I04':str})
microdados2 = microdados2.astype({'QE_I05':str})
microdados2 = microdados2.astype({'QE_I08':str})
microdados2 = microdados2.astype({'QE_I13':str})
microdados2 = microdados2.astype({'QE_I15':str})
microdados2 = microdados2.astype({'QE_I17':str})

In [16]:
microdados2['CO_ORGACAD'].replace({10028:'Universidade',10020:'Centro Universit√°rio',10022:'Faculdade',10026:'I.F.E', 10019:'C.F.E.T'},inplace=True)

In [17]:
microdados2['QE_I10'].replace({'A':'N√£o','B':'Sim','C':'Sim','D':'Sim','E':'Sim'},inplace=True)

In [18]:
microdados2['QE_I22'].replace({'A':'0','B':'1/2','C':'3-5','D':'6-8','E':'8+'},inplace=True)

In [19]:
microdados2['QE_I23'].replace({'A':'0','B':'<3','C':'3-8','D':'8+','E':'8+'},inplace=True)

In [20]:
coluna_map = {
    'CO_CATEGAD':'categoria_adm',
    'CO_GRUPO':'grupo',
    'CO_CURSO':'curso',
    'CO_MODALIDADE':'ead_presencial',
    'CO_UF_CURSO':'uf',
    'CO_REGIAO_CURSO':'regiao',
    'NU_IDADE':'idade',
    'TP_SEXO':'sexo',
    'ANO_FIM_EM':'formatura_medio',
    'ANO_IN_GRAD':'inicio_graduacao',
    'CO_TURNO_GRADUACAO':'periodo',
    'TP_PRES':'presenca',
    'NT_GER':'nota_geral',
    'NT_FG':'nota_formacao_geral',
    'NT_OBJ_FG':'nota_obj_formacao_geral',
    'NT_DIS_FG':'nota_disc_formacao_geral',
    'NT_CE':'nota_componente_especifico',
    'NT_OBJ_CE':'nota_obj_componente_especifico',
    'NT_DIS_CE':'nota_disc_componente_especifico',
    'QE_I02':'cor_raca',
    'QE_I04':'escolaridade_pai',
    'QE_I05':'escolaridade_mae',
    'QE_I08':'renda_familiar',
    'QE_I13':'bolsa_academica',
    'QE_I15':'cotas',
    'QE_I17':'tipo_ensino_medio',
    'CO_IES':'codigo_IES',
    'CO_ORGACAD':'organizacao_academica',
    'QE_I10':'trabalha',
    'QE_I22':'livros_ano',
    'QE_I23':'horas_estudo'
}

In [21]:
microdados2.rename(columns=coluna_map,inplace=True)

In [22]:
microdados2['grupo'].replace({72: 'ADS', 79:'RC',4003: 'EC', 4004:'BCC',4005:'LCC',4006: 'SI',6409: 'GTI'},inplace=True)
microdados2 = microdados2.astype({'grupo':str})

In [23]:
microdados2['cor_raca'].replace({'A':'Branca','B':'Preta','C':'Amarela','D':'Parda','E':'Ind√≠gena','F':'ND'},inplace=True)

In [24]:
microdados2['recebeu_cota'] = microdados2['cotas'].replace({'A':'N√£o','B':'Sim','C':'Sim','D':'Sim','E':'Sim','F':'Sim'})

In [25]:
microdados2['cotas'].replace({'A':'N√£o','B':'√âtnico Racial','C':'Renda','D':'EM p√∫blico','E':'2+','F':'Outro'},inplace=True)

In [26]:
microdados2['recebeu_bolsa'] = microdados2['bolsa_academica']
microdados2['recebeu_bolsa'].replace({'C':'B','D':'B','E':'B','F':'B'},inplace=True)
microdados2['recebeu_bolsa'].replace({'A':'N√£o','B':'Sim'},inplace=True)

In [27]:
microdados2['bolsa_academica'].replace({'A':'Nenhum','B':'IC','C':'Extens√£o','D':'Monitoria','E':'PET','F':'Outro'},inplace=True)

In [28]:
microdados2['renda_familiar'].replace({'A':'<3','B':'3-10','C':'10-30','D':'30+'},inplace=True)

In [29]:
microdados2['escolaridade_pai'].replace({'A':'Nenhuma','B':'1¬∞-5¬∞ EF','C':'6¬∞-9¬∞ EF','D':'Ensino M√©dio','E':'Gradua√ß√£o','F':'P√≥s-gradua√ß√£o'},inplace=True)
microdados2['escolaridade_mae'].replace({'A':'Nenhuma','B':'1¬∞-5¬∞ EF','C':'6¬∞-9¬∞ EF','D':'Ensino M√©dio','E':'Gradua√ß√£o','F':'P√≥s-gradua√ß√£o'},inplace=True)

In [30]:
# microdados_sul['NU_IDADE'].replace()
bins = [17, 25, 30, 40, 50, 100]
labels = ['17-24', '25-29', '30-39', '40-49', '50+']
microdados2['range_idade'] = pd.cut(microdados2['idade'], bins, labels = labels,include_lowest = True)

# precisa ser algo padronizado, por faixas, n√£o hard code
# ex: lambda <20 = 'A'; 20-30 = 'B' ...

In [31]:
microdados2['ead_presencial'].replace({0:'EAD',1:'Presencial'},inplace=True)
microdados2 = microdados2.astype({'ead_presencial':str})

In [32]:
microdados2['turno'] = microdados2['periodo'].replace({1:'M',2:'V',3:'I',4:'N'})
microdados2 = microdados2.astype({'turno':str})

In [33]:
microdados2['regiao'].replace({1:'N',2:'NE',3:'SE',4:'S',5:'CO'},inplace=True)
microdados2 = microdados2.astype({'regiao':str})

In [34]:
microdados2.drop(columns=['presenca','periodo'],inplace=True)

In [35]:
microdados2.rename(columns={'grupo':'nome_curso'},inplace=True)

In [36]:
microdados2['tipo_ensino_medio'].replace({'A':'P√∫blica','B':'Particular','C':'Exterior'},inplace=True)

In [37]:
microdados2.drop(columns=['CO_RS_I9'],inplace=True)

In [38]:
microdados2

,codigo_IES,categoria_adm,organizacao_academica,nome_curso,curso,ead_presencial,uf,regiao,idade,sexo,...,trabalha,bolsa_academica,cotas,tipo_ensino_medio,livros_ano,horas_estudo,recebeu_cota,recebeu_bolsa,range_idade,turno
383,1,IES p√∫blica,Universidade,BCC,36,Presencial,MT,CO,23,M,...,N√£o,IC,Outro,P√∫blica,1/2,8+,Sim,Sim,17-24,I
384,1,IES p√∫blica,Universidade,BCC,36,Presencial,MT,CO,22,M,...,N√£o,Extens√£o,N√£o,P√∫blica,3-5,3-8,N√£o,Sim,17-24,I
386,1,IES p√∫blica,Universidade,BCC,36,Presencial,MT,CO,23,M,...,N√£o,IC,EM p√∫blico,P√∫blica,1/2,3-8,Sim,Sim,17-24,I
387,1,IES p√∫blica,Universidade,BCC,36,Presencial,MT,CO,23,M,...,N√£o,IC,N√£o,P√∫blica,3-5,3-8,N√£o,Sim,17-24,I
388,1,IES p√∫blica,Universidade,BCC,36,Presencial,MT,CO,22,F,...,N√£o,IC,N√£o,Particular,3-5,8+,N√£o,Sim,17-24,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534520,3295,IES privada,Faculdade,ADS,5001211,Presencial,SC,S,20,M,...,N√£o,Nenhum,N√£o,P√∫blica,0,<3,N√£o,N√£o,17-24,M
534521,3295,IES privada,Faculdade,ADS,5001211,Presencial,SC,S,25,M,...,N√£o,Nenhum,Renda,Particular,8+,<3,Sim,N√£o,17-24,M
534522,3295,IES privada,Faculdade,ADS,5001211,Presencial,SC,S,35,M,...,N√£o,Nenhum,N√£o,P√∫blica,3-5,8+,N√£o,N√£o,30-39,M
534783,494,IES privada,Universidade,LCC,5001284,EAD,SC,S,25,M,...,N√£o,Nenhum,N√£o,P√∫blica,3-5,3-8,N√£o,N√£o,17-24,I
534784,494,IES privada,Universidade,LCC,5001284,EAD,SC,S,34,M,...,Sim,Nenhum,N√£o,Particular,8+,3-8,N√£o,N√£o,30-39,I

In [39]:
microdados2[microdados2.range_idade.isnull()]

Empty DataFrame
Columns: [codigo_IES, categoria_adm, organizacao_academica, nome_curso, curso, ead_presencial, uf, regiao, idade, sexo, formatura_medio, inicio_graduacao, nota_geral, nota_formacao_geral, nota_obj_formacao_geral, nota_disc_formacao_geral, nota_componente_especifico, nota_obj_componente_especifico, nota_disc_componente_especifico, cor_raca, escolaridade_pai, escolaridade_mae, renda_familiar, trabalha, bolsa_academica, cotas, tipo_ensino_medio, livros_ano, horas_estudo, recebeu_cota, recebeu_bolsa, range_idade, turno]
Index: []

[0 rows x 33 columns]

In [40]:
microdados2.to_csv('./{}.csv'.format('computacao_enade_2017'),index=False)